@model UserViewModel

<div class="container d-flex justify-content-center align-items-center mb-2">
    <div class="card">
        @*<div class="upper"> <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid"> </div>*@
        @*<div class="user text-center">
            <div class="profile"> <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80"> </div>
            </div>*@
        <div class="mt-5 text-center">
            <h4 class="mb-0">@Model.UserName</h4> <span class="text-muted d-block mb-2">Reputation Points: @Model.Reputation</span> @*<button class="btn btn-primary btn-sm follow">Follow</button>*@
            <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                <div class="stats">
                    <h6 class="mb-0">Articles</h6> <span>@Model.Articles.Count</span>
                </div>
                <div class="stats">
                    <h6 class="mb-0 ms-2">Games Rated</h6> <span>@Model.Ratings.Count</span>
                </div>
                <div>
                    <form method="post" asp-action="ChangeUserRole" asp-controller="Administration" asp-route-id="@Model.Id">
                            <button type="submit" class="btn btn-primary">Change Role</button> 
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
