@model GameViewModel

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="blog-page d-flex offset-2 col-8" >
    <div class="container">
        <div class="row card">
            <div class="">
                <div class="body">
                    <h1 class="text-center">@Model.Name</h1>
                    <div class="img-post">
                        <img class="col-md-12 col-lg-12" src="@Model.ImageUrl" alt="First slide">
                    </div>
                    <div class="card">
                        <p>Genre: @Model.Genre </p>
                    </div>
                    <div class="card">
                        <p>Description: @Model.Description </p>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        @if (Model.Ratings.Count() == 0)
                        {
                            <h2>Game Rating: None</h2>
                        }
                        else
                        {
                            <h2>Game Rating: @Model.Ratings.Average(r => r.RatingValue)</h2>
                        }
                    </div>
                </div>

                <div class="card">
                    <div class="header">

                        <form method="post" asp-action="RateGame" asp-controller="Games">
                            <div class="form-group">
                                <input value="@Model.Id" name="GameId" hidden class="form-control" />
                                <span asp-validation-for="@Model.Id" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input value="@Model.Ratings" name="Ratings" hidden class="form-control" />
                                <span asp-validation-for="@Model.Ratings" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="number" name="RatingValue" step="0.5" placeholder="1" min="1" max="10">
                            </div>

                            <button type="submit" class="btn btn-block btn-primary">Rate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

